<!-- メンバー側 -->
<div class="container">
  <strong class="information-link">トレーニング管理</strong>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "戻る", member_members_show_path, class:"btn btn-lg btn-primary" %>
      </div>
    </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
     <table class="table table-striped">
       <thead>
         <tr>
           <th>TR内容</th>
           <th>目安時間</th>
           <th>進捗</th>
           <th>comment</th>
           <th>フィードバック</th>
         </tr>
       </thead>
       <tbody>
         <% @trainings.each do |training| %>
         <tr>
           <td><%= link_to training.title ,member_training_path(training) %></td>
           <td><%= training.time %> 時間</td>
           <td>進捗を反映</td>
           <td><% training.training_comments.each do |training_comment| %>
                <%= training_comment.created_at.strftime('%Y/%m/%d') %><%= training_comment.comment %><br>
                <% end %>
              </td>
           <td>店長からのフィードバック</td>
         </tr>
       </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
