<div class="container">
     <div class="row">
       <div class="col-xs-3">
         <table class="table table-bordered table-condensed">
           <strong class="information-link">プロフィール</strong>
           <!-- プロフィール画像-->
       <div class="col-lg-3">
         <% if @member.profile_image.attached? %>
           <%= image_tag @member.profile_image, size: "300x300" %>
         <% else %>
          <%= image_tag 'no_image', size: "300x300" %>
         <% end %>
       </div>
        </div>
       <div class="row">
       <!-- プロフィール内容-->
             <tr>
             	<td class="col-xs-2">氏名</td>
             	<td><%= @member.last_name %> <%= @member.first_name %></td>
             </tr>
             <tr>
              <th>English</th>
              <td><%= @member.last_name_eng %> <%= @member.first_name_eng %></td>
            </tr>
            <tr>
              <th>社員番号</th>
              <td><%= @member.employee_number %></td>
            </tr>
             <tr>
              <th>所属部署</th>
              <td><%= @member.affiliation %></td>
            </tr>
            <tr>
              <th>所属部署</th>
              <td><%= @member.email %></td>
            </tr>

         </table>
         <div class="row">
         	<%= link_to "編集する", edit_admin_member_path(@member), class: "btn btn-success" %>
          <%= link_to "トレーニング", member_trainings_path(@member), class: "btn btn-success" %>
        </div>
       </div>
     </div>
</div>
