<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<h2><i class="fa-solid fa-user-plus"></i> Sign-up</h2><br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "member/shared/error_messages", resource: resource %>
  <div class="row">
    <label class="col-lg-3">名前</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name,autoforcus: true, autocomplete: "last_name",  placeholder: "(姓)"  %>
      <br><br>
      <%= f.text_field :first_name,autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
    </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">English</label>
    <div class="col-lg-3">
      <%= f.text_field :last_name_eng,autoforcus: true, autocomplete: "last_name_eng",  placeholder: "last_name" %>
      <br><br>
      <%= f.text_field :first_name_eng,autoforcus: true, autocomplete: "first_name_eng",  placeholder: "first_name" %>
    </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">社員番号</label>
    <div class="col-lg-3">
      <%= f.text_field :employee_number, autofocus: true, autocomplete: "employee_numbe" %>
      </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">所属部署</label>
    <div class="col-lg-3">
      <%= f.text_field :affiliation, autofocus: true, autocomplete: "affiliation" %>
      </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">メールアドレス</label>
    <div class="col-lg-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email"  %>
    </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">パスワード
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %></label>
  <div class="col-lg-3">
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  </div><br>
  <div class="row">
    <label class="col-lg-3">パスワード（確認用）</label>
    <div class="col-lg-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div><br><br>
  <div class="actions">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div><br>
<% end %>
