<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="row">
  <div class="col-xs-8 col-xs-offset-1">
    <h2>What kind of Training genre?</h2><br>
    <div class="form-group col-md-10">
      <%= form_with model: @training_genre, url: admin_training_genres_path do |f| %>
      <%= f.label :"Genre" %>
      <%= f.text_field :menu,class: "col-md-4" %>
      <%= f.submit "追加" ,class: "btn btn-primary" %>
    <% end %>
    </div><br>
      <table class="table genre-index">
        <thead>
          <tr>
            <th>Genre</th>
          </tr>
        </thead>
        <tbody>
          <% @training_genres.each do |training_genre| %>
            <tr>
              <td><%= training_genre.menu %></td>
              <td>
            <!-- 新規作成 -->
                <%= link_to edit_admin_training_genre_path(training_genre), class: "btn btn btn-success text-white" do %>
                <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
            <!-- 削除 -->
                <%= link_to admin_training_genre_path(training_genre), class: "btn btn btn-info text-white", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <i class="far fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
  </div>
</div>