 <!-- adminログ一覧ページ -->

<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="container">
	<h2 style="margin: 10px 0;"><i class="fa-solid fa-user-pen"></i> Log's<br><br>
	<%= link_to "ジャンル追加", admin_log_genres_path, class:"btn btn-lg btn-primary" %></h2><br>
    <!--　検索機能 -->
    <div class="search-form">
      <%= form_with url: member_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
      <% end %>
    </div>
</div><br>
   <!-- ここまで -->

   <!-- ログ一覧 -->
   <%= paginate @log %>
   <div class="row">
     <% @log.each do |log| %>
     <div class="card-deck">
       <div class="card border-secondary mb-4" style="width: 18rem;">
     	 <div class="card-header"><%= link_to log.title, member_log_path(log.id) %></div>
     	 <div class="card-body text-secondary">
     	   <h5 class="card-title"><i class="fa-solid fa-magnifying-glass"></i>：<%= log.log_genre.name %></h5>
     	   <p class="card-text"><i class="fa-regular fa-user"></i>：<%= log.member.last_name %> <%= log.member.first_name %><br>
     	   <i class="fa-solid fa-calendar-days"></i>：<%= log.created_at.strftime('%Y/%m/%d') %>
     		 </p>

    <!--　いいね数表示 -->
         <i class="fa-solid fa-star" style="color: #ffd500;"></i> <%= log.likes.count %><br><br>

		<!-- 削除 -->
		      <%= link_to admin_log_path(log.id), class: "btn btn btn-info text-white", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
		   	  <i class="far fa-trash-alt"></i>
		   	  <% end %>
         </div>
       </div>
     </div>
     <% end %>
	 </div>
 </div>
