<!-- 店長側ログ作成ページ -->
<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="container">
  <h1>NEW<i class="fa-solid fa-pen"></i></h1><br>
  <div class ="row">
    <div class="col-lg-12">
<%= form_with model: @log, url: admin_logs_path do |f| %>
  <tr>
   <th>ジャンル</th>
   <td><%= f.collection_select :log_genre_id, LogGenre.all ,:id, :name, include_blank: "--選択してください--" %></td>
  </tr>
  <br>
  <br>
  <tr>
   <th>タイトル</th>
   <td><%= f.text_field :title %></td>
  </tr>
  <br>
  <br>
  <tr>
   <th>共有内容</th>
   <td><%= f.text_area :body,class: "col-md-5" %></td>
  </tr>
  <br><br>
  <%= f.submit '投稿' %>
<% end %>
