 <!-- ログジャンル編集ページ -->
<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h2>Log-Genre <i class="fa-solid fa-ghost fa-beat" style="color: #4cee11;"></i></h2><br>
    <div class="form-group col-md-10">
    <%= form_with model: @log_genre, url: admin_log_genres_path do |f| %>
    <%= f.label :"Genre name" %>
    <%= f.text_field :name, class: "col-md-4" %>
    <%= f.submit "追加" ,class: "btn btn-primary" %>
    <% end %>
    </div><br>
      <table class="table genre-index">
        <tbody>
          <% @log_genres.each do |log_genre| %>
            <tr>
              <td><%= log_genre.name %></td>
              <td><%= link_to "編集する", edit_admin_log_genre_path(log_genre), class: "btn btn-primary" %></td>
            <!-- 削除 -->
              <td>
              <%= link_to admin_log_genre_path(log_genre), class: "btn btn btn-info text-white", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
  </div>
</div>

