<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
    <%= form_with model: @trainings, url: admin_training_path(@training) do |f| %>
    <div class="col-xs-5">
     <h2>トレーニング編集</h2>
    </div>
    <br><br><br>
      <div class="col-xs-5 col-xs-offset-2">
        <table class="new-form-table">
          <tbody>
            <tr>
              <th>TR内容</th>
              <td><%= f.text_field :title, class: "form-control" %></td>
            </tr>
            <tr>
              <th>目安時間</th>
              <td><%= f.text_field :time, class: "form-control" %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= f.collection_select :training_genre_id, TrainingGenre.all ,:id, :menu, include_blank: "--選択してください--" %></td>
            </tr>
             <tr>
              <th>TR内容詳細</th>
              <td><%= f.text_area :introductio, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>

        <div class="text-right">
        <%= f.submit "更新" ,class: "btn btn-primary text-right" %>
        </div>
        <% end %>

    </div>
  </div>
</div>
