<!-- 店長側 -->
<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
      <h2><i class="fa-solid fa-dumbbell"></i> Training <i class="fa-solid fa-dumbbell"></i></h2><br>

  <div class="text-right">
    <%= link_to "ジャンル追加" ,admin_training_genres_path, class:"btn btn-lg btn-primary" %>
    <%= link_to "新規登録" ,new_admin_training_path, class:"btn btn-lg btn-primary" %>
  </div><br>

      <table class="table">
        <thead>
          <tr>
            <th>TR内容</th>
            <th>目安時間</th>
            <th>ジャンル</th>
          </tr>
        </thead>

        <tbody>
          <% @trainings.each do |training| %>
            <tr>
              <td><%= link_to training.title ,admin_training_path(training) %></td>
              <td><%= training.time %> 時間</td>
              <td><%= training.training_genre.menu %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>