<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="container">
  <h2><i class="fa-solid fa-dumbbell"></i> Training Menu <i class="fa-solid fa-dumbbell"></i></h2><br>
    <div class="row">
      <tbody>
        <div class="col-xs-4">
          <table class="table">
            <tr>
              <td>TR内容</td>
              <td><%= @training.title %></td>
            </tr>
            <tr>
              <td>目安時間</td>
              <td><%= @training.time %> 時間</td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td><%= @training.training_genre.menu %></td>
            </tr>
            <tr>
              <td>TR詳細</td>
              <td><%= @training.introductio %></td>
            </tr>
          </table>
          <div class="col-md-offset-1 col-\md-2 text-center">
            <%= link_to "削除", admin_training_path(@training), class: "btn btn-primary", method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <%= link_to "編集する", edit_admin_training_path(@training), class: "btn btn-primary" %>
          </div>
        </div>
      </tbody>
    </div>
  </div>