<div class="container">
	<h2 style="margin: 10px 0;">伝達ログ<br><br>
      <%= link_to "新規作成", new_member_log_path, class:"btn btn-lg btn-primary" %></h2>
    <!--　検索機能 -->
      <div class="search-form">
      	<%= form_with url: member_search_path, method: :get, local: true do |f| %>
      	<%= f.text_field :keyword, value: @keyword %>
      	<%= f.submit "検索" %>
      	<% end %>
      </div>
      </div><br>
   <!-- ここまで -->
    <%= paginate @log %>
　　<div class="row">
    <% @log.each do |log| %>
    <!-- ログ一覧 -->
    <div class="card-deck">
     	<div class="card border-secondary mb-4" style="width: 18rem;">
     		<div class="card-header"><%= link_to log.title, member_log_path(log.id) %></div>
     		<div class="card-body text-secondary">
     			<h5 class="card-title">ジャンル：<%= log.log_genre.name %></h5>
     			<p class="card-text">更新者：<%= log.member.last_name %> <%= log.member.first_name %><br>
     			投稿：<%= log.created_at.strftime('%Y/%m/%d') %></p>

    <!--　いいね数表示 -->
		   	    ♡ <%= log.likes.count %><br><br>

		  <!-- ブックマーク機能 -->
		   	  <% if log.bookmarked_by?(current_member) %>
		   	  <td><%= link_to "ブックマークを外す", member_log_bookmarks_path(log), method: :delete %></td>
          <% else %>
          <td><%= link_to "ブックマーク", member_log_bookmarks_path(log), method: :post %></td>
          <% end %><br>

		  <!-- 削除 -->
		   	  <% if log.member == current_member %>
		   	  <%= link_to "削除", member_log_path(log.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
		   	  <% end %>
        </div>
      </div>
    </div>
    <% end %>
	  </div>
 </div>
