<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<% if admin_signed_in? %>
   <%= link_to admin_logs_path, class: "btn btn-success text-white" do %>
   <i class="fa-solid fa-rotate-left"></i>
   <% end %><br><br>
  <%#= link_to "戻る", admin_logs_path, class:"btn btn-lg btn-primary" %>
<% else %>
  <%= link_to member_logs_path, class: "btn btn-success text-white" do %>
  <i class="fa-solid fa-rotate-left"></i>
  <% end %><br><br>
  <%#= link_to "戻る", member_logs_path, class:"btn btn-lg btn-primary" %>
<% end %>

<div class="card border-secondary mb-3" style="max-width: 30rem;">
	<% if admin_signed_in? %>
    <div class="card-header">更新者：<%= link_to @log.member.last_name + @log.member.first_name, admin_member_path(@log.member.id) %></div>
  <% else %>
    <div class="card-header">更新者：<%= link_to @log.member.last_name + @log.member.first_name, member_path(@log.member.id) %></div>
  <% end %>
    <div class="card-body text-secondary">
    <h5 class="card-title"><%= @log.title %></h5>
    <p class="card-text"><%= @log.body %></p>

    <!--　いいね機能 -->
    <% if admin_signed_in? %>
      <p><i class="fa-solid fa-star" style="color: #ffd500;"></i><%= @log.likes.count %></p>
    <% else %>
    <% if @log.liked_by?(current_member) %>
      <p>
		    <%= link_to member_log_likes_path(@log), method: :delete do %>
		    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
		    <%= @log.likes.count %>
		    <% end %>
		  </p>
		    <% else %>
		  <p>
		    <%= link_to member_log_likes_path(@log), method: :post do %>
		    <i class="fa-solid fa-star"></i>
		    <%= @log.likes.count %>
		    <% end %>
		  </p>
		<% end %>
		<% end %>
  </div>
</div>
