<header class="shadow-sm">
  <script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
       <div class="container">
         <a class="navbar-brand p-3" href="/"><i class="fa-regular fa-paper-plane fa-xl" style="color: #5dc076;"></i> HELLO！</a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
<!--メンバーがログインしている時 -->
        <% if member_signed_in? %>
          <!-- member -->
          <li class="nav-item"><i class="fa-solid fa-crown"></i>
          <%= link_to  current_member.employee_number + current_member.last_name + current_member.first_name, member_path(current_member.id), class: "btn btn-Light" %>
          </li>
          <!-- Log's -->
          <li class="nav-item"><i class="fa-brands fa-sketch"></i>
          <%= link_to member_logs_path, class: "btn btn-Light" do %>
          <font color="#ef857d">L</font>og's
          <% end %>
          </li>
          <!-- Bookmark -->
          <li class="nav-item"><i class="fa-brands fa-diaspora fa-spin" style="color: #467fe2;"></i>
          <%= link_to member_bookmarks_index_path, class: "btn btn-Light" do %>
          <font color="#69b076">B</font>ookmark
          <% end %>
          </li>
          <!-- Log out -->
          <li class="nav-item"><i class="fa-brands fa-sketch"></i>
          <%= link_to destroy_member_session_path, method: :delete, class: "btn btn-Light" do %>
          <font color="#f39800">L</font>og out
          <% end %>
          <i class="fa-solid fa-crown"></i>
          </li>

<!-- 管理者がログインしている時 -->
        <% elsif admin_signed_in? %>
          <!-- Log's -->
          <li class="nav-item"><i class="fa-solid fa-crown"></i>
          <%= link_to admin_logs_path, class: "btn btn-Light" do %>
          <font color="#ef857d">L</font>og's
          <% end %>
          </li>
          <!-- Member -->
          <li class="nav-item"><i class="fa-brands fa-sketch"></i>
          <%= link_to admin_members_path, class: "btn btn-Light" do %>
          <font color="#00afcc">M</font>ember
          <% end %>
          </li>
          <!-- Training -->
          <li class="nav-item"><i class="fa-brands fa-diaspora fa-spin" style="color: #467fe2;"></i>
          <%= link_to admin_trainings_path, class: "btn btn-Light" do %>
          <font color="#9fc24d">T</font>raining
          <% end %>
          </li>
          <!-- Log out -->
          <li class="nav-item"><i class="fa-brands fa-sketch"></i>
          <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-Light" do %>
          <font color="#f39800">L</font>og out
          <% end %>
          <i class="fa-solid fa-crown"></i>
          </li>
        <% else %>

<!-- ログインしていない時 -->
          <li class="nav-item"><i class="fa-solid fa-crown"></i><%= link_to "新規登録", new_member_registration_path, class: "btn btn-Light" %></li>
          <li class="nav-item"><i class="fa-brands fa-diaspora fa-spin" style="color: #467fe2;"></i><%= link_to "ログイン", new_member_session_path, class: "btn btn-Light" %><i class="fa-solid fa-crown"></i></li>
        <% end %>
      </ul>
    </div>
    </div>
   </nav>
   </div>
</header>